{% extends 'base.html.twig' %}

{% block title %}Meczyki.pl{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-3">
        <section id="addPost" class="mb-3">
            <a href="{{ path('add_news') }}" class="btn btn-primary">Add Article</a>
        </section>
        <section id="news">
            {% if all_news|length == 0 %}
                <p class="fs-3">No news available</p>
            {% endif %}
            {% for key, article in all_news %}
                <h2><a href="{{ path('update_news', {id: key+1}) }}">{{ article.title }}</a></h2>
                <p class="fs-6">
                    {% if article.author|length > 1 %}
                        <b>Authors:</b>
                    {% else %}
                        <b>Author:</b>
                    {% endif %}

                    {% for writer in article.author %}
                        {{ writer.name }}
                    {% endfor %}
                    <b>Created at:</b> {{ article.createdAt.format('Y-m-d H:i:s') }}
                </p>
                <p class="fs-3">{{ article.text }}</p>
                <hr>
            {% endfor %}
        </section>
    </div>
</div>
{% endblock %}
